<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear <%= @user.name %></h1>
    <p>
      You have deleted the answers of the survey. Please fill again the survey.<br/>
    </p>
  </body>
</html>